ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.li{
    padding-left: 83%;
    display: flex;
}
li{
    padding-left: 23%;
}
a{
    text-decoration: none;

}

button{
    display: none;
}


@media screen and (min-width: 768px) {
   .li{
    display: grid;
    /* padding-right: 51%; */
    justify-content: end;
    font-size: 258%;
   }
   ul{
    display: grid;
   }
  }